* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #b185a7;
}

.container {
  background-color: #ffff;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 40vh;
  min-height: 50vh;
}

form {
  margin: 2rem 0 1rem 0;
}

form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input {
  border: 1px solid lightgrey;
  font-size: 1rem;
  height: 2.5rem;
  padding-left: 0.75rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.select-container img {
  max-width: 2rem;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid lightgrey;
}

.msg {
  margin: 2rem 0 2rem 0;
}

form button {
  height: 3rem;
  background-color: #af4d98;
  color: #ffff;
  font-size: 1.15rem;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 80%;
  }

  .dropdown i {
    font-size: 1.25rem;
  }

  form input {
    font-size: 0.9rem;
    height: 2.2rem;
  }

  form button {
    font-size: 1rem;
    height: 2.8rem;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
  }

  .dropdown i {
    font-size: 1rem;
  }

  form input {
    font-size: 0.8rem;
    height: 2rem;
  }

  form button {
    font-size: 0.9rem;
    height: 2.5rem;
  }
}
